<div class="sidebar-order">
    <div class="sidebar-content-order js-simplebar">
        <h3 class="text-center" style="padding-top:10px">Filter</h3>
        <form id="filterForm">
            <ul class="sidebar-nav">


                <li class="sidebar-item-order actionclass  internal-actionClass mgmt-actionClass" style="width:90%">
                    <a data-bs-target="#setting1" data-bs-toggle="collapse" class="sidebar-link-order collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">CTS Member
                            Id</span>
                    </a>
                    <ul id="setting1" class="sidebar-dropdown collapse " data-bs-parent="#orderSetting">
                        <input class="form-control" id="ctsMemberId" />
                    </ul>
                </li>



                <li class="sidebar-item-order actionclass  internal-actionClass mgmt-actionClass" style="width:90%">
                    <a data-bs-target="#setting7" data-bs-toggle="collapse" class="sidebar-link-order collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Name</span>
                    </a>
                    <ul id="setting7" class="sidebar-dropdown collapse " data-bs-parent="#orderSetting">
                        <input class="form-control" id="orderPasName" />
                    </ul>

                </li>


                <li class="sidebar-item-order actionclass  internal-actionClass mgmt-actionClass" style="width:90%">
                    <a data-bs-target="#setting8" data-bs-toggle="collapse" class="sidebar-link-order collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Email</span>
                    </a>
                    <ul id="setting8" class="sidebar-dropdown collapse " data-bs-parent="#orderSetting">
                        <input class="form-control" id="orderPasEmail" />
                    </ul>

                </li>


                <li class="sidebar-item-order actionclass  internal-actionClass mgmt-actionClass client-actionClass"
                    style="width:90%">
                    <a data-bs-target="#settingOrd" data-bs-toggle="collapse" class="sidebar-link-order collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Created
                            Date</span>
                    </a>
                    <ul id="settingOrd" class="sidebar-dropdown collapse" data-bs-parent="#orderSetting">

                        <div class="mb-3">
                            <label class="form-label">From
                                <!--Check In Date-->
                            </label>
                            <input class="form-control datesingle" id="orderDateFrom" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">To
                                <!--Check Out Date-->
                            </label>
                            <input class="form-control datesingle" id="orderDateTo" />
                        </div>

                    </ul>
                </li>


                <!-- <li class="sidebar-item-order actionclass  internal-actionClass mgmt-actionClass client-actionClass"
                    style="width:90%">
                    <a data-bs-target="#settingOrd2" data-bs-toggle="collapse" class="sidebar-link-order collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Expired
                            Date</span>
                    </a>
                    <ul id="settingOrd2" class="sidebar-dropdown collapse" data-bs-parent="#orderSetting">

                        <div class="mb-3">
                            <label class="form-label">From
                            </label>
                            <input class="form-control datesingle" id="expireDateFrom" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">To
                            </label>
                            <input class="form-control datesingle" id="expireDateTo" />
                        </div>

                    </ul>
                </li> -->



            </ul>
        </form>
    </div>
</div>