<div class="sidebar-order">
    <div class="sidebar-content-order js-simplebar">
        <h3 class="text-center" style="padding-top:10px">Filter</h3>
        <form id="filterForm">
            <ul class="sidebar-nav" style="padding:0 0 10px 0">

                   
                <li class="sidebar-item-order actionclass  internal-actionClass mgmt-actionClass client-actionClass" style="width:90%">
                    <a data-bs-target="#settingOrd" data-bs-toggle="collapse" class="sidebar-link-order collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Enroll
                            Date</span>
                    </a>
                    <ul id="settingOrd" class="sidebar-dropdown collapse" data-bs-parent="#orderSetting">

                        <div class="mb-3">
                            <label class="form-label">From
                                <!--Check In Date-->
                            </label>
                            <input class="form-control datesingle" id="orderDateFrom" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">To
                                <!--Check Out Date-->
                            </label>
                            <input class="form-control datesingle" id="orderDateTo" />
                        </div>

                    </ul>
                </li>


                <li class="sidebar-item-order actionclass  internal-actionClass mgmt-actionClass" style="width:90%">
                    <a data-bs-target="#setting7" data-bs-toggle="collapse" class="sidebar-link-order collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Email</span>
                    </a>
                    <ul id="setting7" class="sidebar-dropdown collapse " data-bs-parent="#orderSetting">
                        <input class="form-control" id="email" />
                    </ul>

                </li>


                <li class="sidebar-item-order actionclass  internal-actionClass mgmt-actionClass" style="width:90%">
                    <a data-bs-target="#setting8" data-bs-toggle="collapse" class="sidebar-link-order collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Member Id</span>
                    </a>
                    <ul id="setting8" class="sidebar-dropdown collapse " data-bs-parent="#orderSetting">
                        <input class="form-control" id="id" />
                    </ul>

                </li>


                <li class="sidebar-item-order actionclass  internal-actionClass mgmt-actionClass" style="width:90%">
                    <a data-bs-target="#setting9" data-bs-toggle="collapse" class="sidebar-link-order collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Firstname</span>
                    </a>
                    <ul id="setting9" class="sidebar-dropdown collapse " data-bs-parent="#orderSetting">
                        <input class="form-control" id="firstname" />
                    </ul>

                </li>


                <li class="sidebar-item-order actionclass  internal-actionClass mgmt-actionClass" style="width:90%">
                    <a data-bs-target="#setting10" data-bs-toggle="collapse" class="sidebar-link-order collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Lastname</span>
                    </a>
                    <ul id="setting10" class="sidebar-dropdown collapse " data-bs-parent="#orderSetting">
                        <input class="form-control" id="lastname" />
                    </ul>

                </li>


                <li class="sidebar-item-order actionclass  internal-actionClass mgmt-actionClass client-actionClass" style="width:90%">
                    <a data-bs-target="#settingOrd2" data-bs-toggle="collapse" class="sidebar-link-order collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Created
                            Date</span>
                    </a>
                    <ul id="settingOrd2" class="sidebar-dropdown collapse" data-bs-parent="#orderSetting">

                        <div class="mb-3">
                            <label class="form-label">From
                                <!--Check In Date-->
                            </label>
                            <input class="form-control datesingle" id="createdFrom" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">To
                                <!--Check Out Date-->
                            </label>
                            <input class="form-control datesingle" id="createdTo" />
                        </div>

                    </ul>
                </li>


            </ul>
        </form>
    </div>
</div>