<div class="btn-group float-end" role="group" aria-label="Basic outlined example">
   <!--  <button id="firstPage" type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip"
        data-bs-placement="bottom" title="First">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevrons-left align-middle">
            <polyline points="11 17 6 12 11 7"></polyline>
            <polyline points="18 17 13 12 18 7"></polyline>
        </svg>
    </button> -->
    <button id="previousPage" type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip"
        data-bs-placement="bottom" title="Previous">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-left align-middle">
            <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
    </button>
    <button id="pageInfo" type="button" class="btn btn-outline-primary">
    1-13
    
</button>
    <button id="nextPage" type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip"
        data-bs-placement="bottom" title="Next">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-right align-middle">
            <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
    </button>
   <!--  <button id="lastPage" type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip"
        data-bs-placement="bottom" title="Last">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevrons-right align-middle">
            <polyline points="13 17 18 12 13 7"></polyline>
            <polyline points="6 17 11 12 6 7"></polyline>
        </svg>
    </button> -->
</div>