<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Conductor - Sign Up
    </title>
    <%- include("../partials/public/head") %>
</head>

<body style="margin: 0px;">

    <div class="container-login100">
        <div class="card col-md-3">
            <div class="card-header border-bottom">
                <span class="card-title mb-0">Sign Up</span>
            </div>
            <div class="card-body">
                <form class="form needs-validation" role="form" autocomplete="off" id="signin_form" method="POST">
                    <div class="row pb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="firstname" id="firstname"
                                    placeholder="First Name" tabindex="0" autocomplete="off" required />
                                <div class="invalid-feedback">
                                    First Name is empty.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastname" id="lastname"
                                    placeholder="Last Name" tabindex="0" autocomplete="off" required />
                                <div class="invalid-feedback">
                                    Last Name is empty.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" id="username"
                                    placeholder="Username" tabindex="0" autocomplete="off" required />
                                <div class="invalid-feedback">
                                    Username is empty.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control has-validatio" id="password"
                                        name="password" placeholder="Password" aria-label="Password"
                                        aria-describedby="toggle-password" autocomplete="off" required />
                                    <span class="input-group-text" role="button" id="toggle-password">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-eye-off">
                                            <path
                                                d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24">
                                            </path>
                                            <line x1="1" y1="1" x2="23" y2="23"></line>
                                        </svg>
                                    </span>
                                    <div class="invalid-feedback">
                                        Password is empty.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 pt-1">
                            <button role="button" type="button" id="signIn" class="btn btn-warning float-start">Sign
                                In</button>
                            <button class="btn btn-primary float-end" id="submit">Submit</button>
                        </div>
                    </div>
                    <div id="message_div"></div>
                </form>
            </div>
        </div>
    </div>

    </div>
    <footer>
        <%- include("../partials/foot") %>
            <%- include ("../partials/public/scripts") %>
    </footer>
    <script type="text/javascript" src="/js/signup.js"></script>
</body>

</html>